In [3]:
import pandas as pd
from sqlalchemy import create_engine
from pandas import DataFrame

# read in csv file from pandas library
input = pd.read_csv("./data/movie_metadata.csv")
# initiate sqlit in-memory database
engine = create_engine('sqlite://', echo=False)
# load file to local database
db = input.to_sql('movie', con=engine)
# query the database
db_tables = engine.execute("SELECT * FROM movie").fetchall()
print("Your csv file has loaded to in-memory SQLite database, and the first three records")
# show first 3 records
print(db_tables[:3])

Your csv file has loaded to in-memory SQLite database, and the first three records
[(0, 'Color', 'James Cameron', 723.0, 178.0, 0.0, 855.0, 'Joel David Moore', 1000.0, 760505847.0, 'Action|Adventure|Fantasy|Sci-Fi', 'CCH Pounder', 'AvatarÂ\xa0', 886204, 4834, 'Wes Studi', 0.0, 'avatar|future|marine|native|paraplegic', 'http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1', 3054.0, 'English', 'USA', 'PG-13', 237000000.0, 2009.0, 936.0, 7.9, 1.78, 33000), (1, 'Color', 'Gore Verbinski', 302.0, 169.0, 563.0, 1000.0, 'Orlando Bloom', 40000.0, 309404152.0, 'Action|Adventure|Fantasy', 'Johnny Depp', "Pirates of the Caribbean: At World's EndÂ\xa0", 471220, 48350, 'Jack Davenport', 0.0, 'goddess|marriage ceremony|marriage proposal|pirate|singapore', 'http://www.imdb.com/title/tt0449088/?ref_=fn_tt_tt_1', 1238.0, 'English', 'USA', 'PG-13', 300000000.0, 2007.0, 5000.0, 7.1, 2.35, 0), (2, 'Color', 'Sam Mendes', 602.0, 148.0, 0.0, 161.0, 'Rory Kinnear', 11000.0, 200074175.0, 'Action|Adventure|Thriller', 'Christoph Waltz', 'SpectreÂ\xa0', 275868, 11700, 'Stephanie Sigman', 1.0, 'bomb|espionage|sequel|spy|terrorist', 'http://www.imdb.com/title/tt2379713/?ref_=fn_tt_tt_1', 994.0, 'English', 'UK', 'PG-13', 245000000.0, 2015.0, 393.0, 6.8, 2.35, 85000)]

In [9]:
#the top 10 directors in decreasing order by their profitability
# input pandas dataframe from csv file
# output pandas dataframe containing top 10 directors in decreasing order by their profitability using sql query
def top_10_directors_actors(data):
    # Profit = gross - budget
    data = engine.execute(
        "SELECT actor_1_name as name, gross-budget FROM movie UNION ALL SELECT director_name as name, gross-budget FROM movie UNION ALL SELECT actor_2_name as name, gross-budget FROM movie UNION ALL SELECT actor_3_name as name, gross-budget FROM movie").fetchall()
    df = DataFrame.from_records(data)
    df.columns = ['name', 'profit']
    print("Top 10 directors/actors by profit")
    top10_res = df.groupby(['name']).sum().sort_values(by='profit', ascending=False).head(10)
    print(top10_res)
    res = top10_res.to_csv("./result/top_10_directors_actors.csv", encoding='utf-8')
    return res

In [10]:
top_10_directors_actors(input)

Top 10 directors/actors by profit
                          profit
name
Steven Spielberg    2.486332e+09
Harrison Ford       2.039816e+09
Scarlett Johansson  1.764843e+09
Robert Downey Jr.   1.755541e+09
Tom Hanks           1.734023e+09
Jon Favreau         1.663083e+09
Morgan Freeman      1.434559e+09
George Lucas        1.386641e+09
Bradley Cooper      1.230993e+09
James Cameron       1.199626e+09

In [12]:
    # use pandas to select column and do the data manipulation rather than sql
    # select actor1, actor2, director with profit seperately with pandas and then concatenate them to
    # do the filering and sorting

    df = pd.read_csv("./data/movie_metadata.csv")

    df_actor2_profit = df[['actor_2_name']]
    df_actor2_profit['profit'] = (df['gross'] - df['budget']).tolist()
    df_actor2_profit.rename(columns={'actor_2_name': 'name'}, inplace=True)
    # df_actor2_profit.isnull().sum()
    df_a2 = df_actor2_profit.dropna()
    # df_a2.isnull().sum()

    df_actor3_profit = df[['actor_3_name']]
    df_actor3_profit['profit'] = (df['gross'] - df['budget']).tolist()
    df_actor3_profit.rename(columns={'actor_3_name': 'name'}, inplace=True)
    # df_actor3_profit.isnull().sum()
    df_a3 = df_actor3_profit.dropna()
    # df_a3.isnull().sum()

    df_actor1_profit = df[['actor_1_name']]
    df_actor1_profit['profit'] = (df['gross'] - df['budget']).tolist()
    df_actor1_profit.rename(columns={'actor_1_name': 'name'}, inplace=True)
    # df_actor1_profit.isnull().sum()
    df_a1 = df_actor1_profit.dropna()
    # df_a2.isnull().sum()

    df_director_profit = df[['director_name']]
    df_director_profit['profit'] = (df['gross'] - df['budget']).tolist()
    df_director_profit.rename(columns={'director_name': 'name'}, inplace=True)
    # df_director_profit.isnull().sum()
    df_director = df_director_profit.dropna()
    # df_director.isnull().sum()

    df_actors_director_profit = pd.concat([df_a1, df_a2, df_director,df_a3])
    # df_actors_director_profit
    test_res = df_actors_director_profit.groupby(['name']).sum().sort_values(by='profit', ascending=False).head(10)
    print(test_res)
    testcsv = test_res.to_csv("./top_10_directors_actors_test.csv", encoding='utf-8')

/Users/brucexhuang/anaconda/envs/ana41py35/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/brucexhuang/anaconda/envs/ana41py35/lib/python3.5/site-packages/pandas/core/frame.py:2834: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)
/Users/brucexhuang/anaconda/envs/ana41py35/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/brucexhuang/anaconda/envs/ana41py35/lib/python3.5/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/brucexhuang/anaconda/envs/ana41py35/lib/python3.5/site-packages/ipykernel/__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                          profit
name
Steven Spielberg    2.486332e+09
Harrison Ford       2.039816e+09
Scarlett Johansson  1.764843e+09
Robert Downey Jr.   1.755541e+09
Tom Hanks           1.734023e+09
Jon Favreau         1.663083e+09
Morgan Freeman      1.434559e+09
George Lucas        1.386641e+09
Bradley Cooper      1.230993e+09
James Cameron       1.199626e+09

In [13]:
top_10_directors_actors(input) == testcsv

Top 10 directors/actors by profit
                          profit
name
Steven Spielberg    2.486332e+09
Harrison Ford       2.039816e+09
Scarlett Johansson  1.764843e+09
Robert Downey Jr.   1.755541e+09
Tom Hanks           1.734023e+09
Jon Favreau         1.663083e+09
Morgan Freeman      1.434559e+09
George Lucas        1.386641e+09
Bradley Cooper      1.230993e+09
James Cameron       1.199626e+09

True